<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <link rel="icon" type="image/x-icon" href="static/favicon.ico">
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="email=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="theme-color" content="#000000" />
  <title><%= title %></title>
  <script>
    const onLinkBtnClick = () => {
      const link = ""
      try { gtag_report_conversion(); } catch (error) { console.log(error) } finally { window.location.href = link; }
    }
  </script>
</head>

<body>
  <main id="<%= mountElementId %>"></main>
</body>

</html>