<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>相場 師朗（あいば しろう）は、</title>
  <!---------------------------⬇⬇⬇⬇跟踪代码粘贴在这里⬇⬇⬇⬇------------------------------------>
  
  <!---------------------------⬆⬆⬆⬆跟踪代码粘贴在这里⬆⬆⬆⬆----------------------------------->
  <meta property="og:type" content="website">
  <meta property="og:title" content="相場 師朗（あいば しろう）は、">
  <meta property="og:description" content="">
  <link rel="shortcut icon" href="https://static.leadpages.net/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://static.leadpages.net/fonts/font-awesome/6.4.2/css/all.min.css"
    referrerpolicy="no-referrer">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CRoboto+Condensed:300,400,500,700%7CPoppins:300,400,500,700%7COpen+Sans:300,400,500,700" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CRoboto+Condensed:300,400,500,700%7CPoppins:300,400,500,700%7COpen+Sans:300,400,500,700"
    type="text/css" referrerpolicy="no-referrer" media="print" onload="this.media='all'">
</head>

<body>

  <div class="page-background"></div>


  <div class="page css-1o3acgz">

    <section class="section css-oye6xc" data-guid="a6558f5e-2624-d4b5-f806-e7543531d1b6">
      <div class="container" id="hero">
        <div class="layout flex flex--12" data-guid="d80655b9-08f7-55d4-3165-898744aeda6c">

          <div class="column flex__item--md-12 flex__item--xs-12 css-vfaad"
            data-guid="d8a585f3-4c07-106a-ad38-8d72938b3a36">

            <div class="inner-column css-eeduzr">

              <div class="row flex flex--12 css-47r3vg">

                <div class="composite flex__item--md-12 flex__item--xs-12 css-8x0d4x">
                  <div class="inner-composite flex flex--12">
                    <div class="widget-column flex__item--md-12 flex__item--xs-12">
                      <div class="widget-row flex flex--12">
                        <div class="flex__item--md-12 flex__item--xs-12">
                          <div data-widget-id="83ff0438-28b5-f22d-f553-e44787286add" class="widget">
                            <div class="lp-text-react lp-headline-react" data-widget-type="LpTextReact">
                              <h1 class="lp-headline text-align-left font-scale-10 headline"><span
                                  style="color: rgb(0, 0, 0);">株は技術だ!株価の上昇・下落は「技術」で判断できる超シンプルで再現性の高い<br>プロのトレード技術を伝授します</span>
                              </h1>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row flex flex--12 css-47r3vg">
                <div class="composite flex__item--md-12 flex__item--xs-12 css-8x0d4x">
                  <div class="inner-composite flex flex--12">
                    <div class="widget-column flex__item--md-12 flex__item--xs-12">
                      <div class="widget-row flex flex--12">
                        <div class="flex__item--md-12 flex__item--xs-12">
                          <div data-widget-id="6c3b76db-f938-7bf4-630b-77747b010865" class="widget">

                            <div class="css-1yltisf">
                              <div>


                                <img class="lp-image-react w-6c3b76db-f938-7bf4-630b-77747b010865 css-9m73vs lazyload"
                                  src="https://lh3.googleusercontent.com/Tqx2lNMx7dSHRqvm-BDfTVpfQtniPpWDXV0nK038VRUZr1CvzKKxV0vfNyeyqMHV5zdwGSDEdmMLWofHmjlWHcsZNxhPiac4q4k=w16"
                                  data-src="https://lh3.googleusercontent.com/Tqx2lNMx7dSHRqvm-BDfTVpfQtniPpWDXV0nK038VRUZr1CvzKKxV0vfNyeyqMHV5zdwGSDEdmMLWofHmjlWHcsZNxhPiac4q4k"
                                  data-image-upload-source="builder3" alt="" style="width:100%;max-width:800px" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row flex flex--12 css-47r3vg">
                <div class="composite flex__item--md-12 flex__item--xs-12 css-8x0d4x">
                  <div class="inner-composite flex flex--12">
                    <div class="widget-column flex__item--md-12 flex__item--xs-12">
                      <div class="widget-row flex flex--12">
                        <div class="flex__item--md-12 flex__item--xs-12">
                          <div data-widget-id="2b44a8e6-83a3-daf8-0f3b-e8e113db0724" class="widget">
                            <div class="css-1yltisf">
                              <div>
                                <img class="lp-image-react w-2b44a8e6-83a3-daf8-0f3b-e8e113db0724 css-1of3074 lazyload"
                                  src="https://lh3.googleusercontent.com/fQ549SVA_QgsfcinBBNuOcgHi0U64JOyxlMYSLSMIIJukgUkAu4KRvA9ruv4JJauCa2GrfP2BYq4uQ6a8fGcgODDtxtAIKI-nLo=w16"
                                  data-src="https://lh3.googleusercontent.com/fQ549SVA_QgsfcinBBNuOcgHi0U64JOyxlMYSLSMIIJukgUkAu4KRvA9ruv4JJauCa2GrfP2BYq4uQ6a8fGcgODDtxtAIKI-nLo"
                                  data-image-upload-source="builder3" alt="" style="width:17%" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row flex flex--12 css-47r3vg">
                <div class="composite flex__item--md-12 flex__item--xs-12 css-8x0d4x">
                  <div class="inner-composite flex flex--12">
                    <div class="widget-column flex__item--md-12 flex__item--xs-12">
                      <div class="widget-row flex flex--12">
                        <div class="flex__item--md-12 flex__item--xs-12">
                          <div data-widget-id="316710ea-5064-7cc9-760b-74b6a15e900f" class="widget">
                            <div class="lp-text-react lp-headline-react" data-widget-type="LpTextReact">
                              <h3 class="lp-headline text-align-center font-scale-5 small-subhead"><span
                                  style="color: rgba(0, 0, 0, 1);"><span
                                    style="font-family: &quot;Poppins&quot;, sans-serif;"><strong>通勤途中にお金を稼ぐ「テスター経済学部」</strong></span></span>
                              </h3>
                              <h3 class="lp-headline text-align-center font-scale-5 small-subhead"><span
                                  style="color: rgba(0, 0, 0, 1);"><span
                                    style="font-family: &quot;Poppins&quot;, sans-serif;"><strong>バリュー投資を学んで月500万円の利益を増やしましょう。</strong></span></span>
                              </h3>
                              <h3 class="lp-headline text-align-center font-scale-5 small-subhead"><span
                                  style="color: rgba(0, 0, 0, 1);"><span
                                    style="font-family: &quot;Poppins&quot;, sans-serif;"><strong>初心者でも高確率で株の買い方
                                      。無料の株価分析、最新の10倍評価銘柄リストを共有しており、これまでに3,491人が無料で登録している。今すぐ私たちのコミュニティに無料で参加してください。収容人数は500名未満です。コミュニティに参加して無料で参加しましょう！</strong></span></span>
                              </h3>
                              <p class="text-align-left"><span style="color: rgba(0, 0, 0, 1);"><br></span></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row flex flex--12 css-47r3vg">
                <div class="composite flex__item--md-12 flex__item--xs-12 css-8x0d4x">
                  <div class="inner-composite flex flex--12">
                    <div class="widget-column flex__item--md-12 flex__item--xs-12">
                      <div class="widget-row flex flex--12">
                        <div class="flex__item--md-12 flex__item--xs-12">
                          <div data-widget-id="13fdb679-15c8-7739-eb48-a3fd4194c394" class="widget">

                            <div class="lp-button-react-wrapper css-piwg9t" data-widget-type="LpButtonReact">

                              <a data-widget-link="true" href="https://qkz.link/s/HH0ADE06A" target="_top"
                                data-link-type="external"
                                class="lp-button-react w-13fdb679-15c8-7739-eb48-a3fd4194c394 is-bold lp-button-react--medium lp-button-react--flat lp-btn-flat font-scale-8 line-height-scale-7 css-1ae9nzt"
                                contenteditable="false">クリックして先生のLINEを無料で追加</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row flex flex--12 css-47r3vg">
                <div class="composite flex__item--md-12 flex__item--xs-12 css-8x0d4x">
                  <div class="inner-composite flex flex--12">
                    <div class="widget-column flex__item--md-12 flex__item--xs-12">
                      <div class="widget-row flex flex--12">
                        <div class="flex__item--md-12 flex__item--xs-12">
                          <div data-widget-id="e9efec51-8e53-fc47-3d98-89ac6dbd3e07" class="widget">

                            <div class="lp-space-react w-e9efec51-8e53-fc47-3d98-89ac6dbd3e07 css-1klih5i"
                              data-widget-type="LpSpaceReact"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row flex flex--12 css-47r3vg">
                <div class="composite flex__item--md-12 flex__item--xs-12 css-8x0d4x">
                  <div class="inner-composite flex flex--12">
                    <div class="widget-column flex__item--md-12 flex__item--xs-12">
                      <div class="widget-row flex flex--12">
                        <div class="flex__item--md-12 flex__item--xs-12">
                          <div data-widget-id="bdf85211-fe42-5147-a705-887f32b1d337" class="widget">
                            <div class="lp-text-react lp-headline-react lp-animate__delay-1s"
                              data-widget-type="LpTextReact" data-lp-animate-widget="bounceInRight"
                              data-lp-animate-delay-widget="1" style="visibility:hidden">
                              <p class="text-align-left"><span style="color: rgba(14, 14, 14, 1);"><span
                                    style="font-family: &quot;Roboto&quot;, sans-serif;"><strong>皆さんこんにちは、</strong></span></span><strong>相場
                                  師朗</strong><span style="color: rgba(14, 14, 14, 1);"><span
                                    style="font-family: &quot;Roboto&quot;, sans-serif;"><strong>（あいばしろう）です。ファンや友人に恩返しするために、株式市場で利益を上げるための「事実」と「コツ」を皆さんと共有します！
                                      「お金は目的ではありません。それは単なる手段に過ぎません。」莫大な富を得たいなら、株を保有する以外に選択肢はない。お金はただ持っているだけでは増えません。お金を生むには、正しい場所に投資する必要があります。そうすることで、お金に働いてもらうことができます。つまり、お金は「投資」なのです。その答えは、株式市場への長期投資です。早期退職の真の解決策はここに！相場師朗（あいばしろう）が設立した無料投資クラブ！下のボタンをクリックして、500万ドル相当のデータをゲット！</strong></span></span>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row flex flex--12 css-47r3vg">
                <div class="composite flex__item--md-12 flex__item--xs-12 css-8x0d4x">
                  <div class="inner-composite flex flex--12">
                    <div class="widget-column flex__item--md-12 flex__item--xs-12">
                      <div class="widget-row flex flex--12">
                        <div class="flex__item--md-12 flex__item--xs-12">
                          <div data-widget-id="f6dc8e88-9f26-5a5b-9193-b4adea93b978" class="widget">
                            <div class="lp-space-react w-f6dc8e88-9f26-5a5b-9193-b4adea93b978 css-1klih5i"
                              data-widget-type="LpSpaceReact"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row flex flex--12 css-47r3vg">
                <div class="composite flex__item--md-12 flex__item--xs-12 css-8x0d4x">
                  <div class="inner-composite flex flex--12">
                    <div class="widget-column flex__item--md-12 flex__item--xs-12">
                      <div class="widget-row flex flex--12">
                        <div class="flex__item--md-12 flex__item--xs-12">
                          <div data-widget-id="dcf202de-095d-4c9c-556c-cfa6e5665d19" class="widget">
                            <div class="css-1yltisf">
                              <div>
                                <img class="lp-image-react w-dcf202de-095d-4c9c-556c-cfa6e5665d19 css-1ovznjp lazyload"
                                  src="https://lh3.googleusercontent.com/N7B38vHVDhuXE9EPerSfHfa_ZQcaUu91HRb-0PuAf8D5dVht9R4h--EL77t_QIOvMy1GypENwZcfIxPim-IPKFRF796456OzlKA=w16"
                                  data-src="https://lh3.googleusercontent.com/N7B38vHVDhuXE9EPerSfHfa_ZQcaUu91HRb-0PuAf8D5dVht9R4h--EL77t_QIOvMy1GypENwZcfIxPim-IPKFRF796456OzlKA"
                                  data-image-upload-source="builder3" alt="" style="width:100%;max-width:800px" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row flex flex--12 css-47r3vg">
                <div class="composite flex__item--md-12 flex__item--xs-12 css-8x0d4x">
                  <div class="inner-composite flex flex--12">
                    <div class="widget-column flex__item--md-12 flex__item--xs-12">
                      <div class="widget-row flex flex--12">
                        <div class="flex__item--md-12 flex__item--xs-12">
                          <div data-widget-id="d3a3fd01-a111-3647-4278-d8359c8e333e" class="widget">
                            <div class="lp-text-react lp-headline-react" data-widget-type="LpTextReact">
                              <h3 class="lp-headline text-align-center font-scale-5 small-subhead"><span
                                  style="color: rgba(19, 19, 19, 1);"><span
                                    style="font-family: &quot;Poppins&quot;, sans-serif;"><strong>下のボタンをクリックしてください。</strong></span></span>
                              </h3>
                              <h3 class="lp-headline text-align-center font-scale-5 small-subhead"><span
                                  style="color: rgba(19, 19, 19, 1);"><span
                                    style="font-family: &quot;Poppins&quot;, sans-serif;"><strong>バリュー投資を学んで月1500万円の利益を増やしましょう。</strong></span></span>
                              </h3>
                              <p class="text-align-left"><span style="color: rgba(19, 19, 19, 1);"><br></span></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row flex flex--12 css-47r3vg">
                <div class="composite flex__item--md-12 flex__item--xs-12 css-8x0d4x">
                  <div class="inner-composite flex flex--12">
                    <div class="widget-column flex__item--md-12 flex__item--xs-12">
                      <div class="widget-row flex flex--12">
                        <div class="flex__item--md-12 flex__item--xs-12">
                          <div data-widget-id="00683bfb-8d73-c63f-a49d-2595bf181192" class="widget">
                            <div class="lp-button-react-wrapper css-piwg9t" data-widget-type="LpButtonReact"><a
                                data-widget-link="true" href="https://qkz.link/s/HH0ADE06A" target="_top"
                                data-link-type="external"
                                class="lp-button-react w-00683bfb-8d73-c63f-a49d-2595bf181192 is-bold lp-button-react--medium lp-button-react--flat lp-btn-flat font-scale-8 line-height-scale-7 css-1ae9nzt"
                                contenteditable="false">クリックして先生のLINEを無料で追加</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>