<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <!---------------------------⬇⬇⬇⬇跟踪代码粘贴在这里⬇⬇⬇⬇------------------------------------>
  
  <!---------------------------⬆⬆⬆⬆跟踪代码粘贴在这里⬆⬆⬆⬆----------------------------------->
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="">
  <link rel="shortcut icon" href="https://static.leadpages.net/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://static.leadpages.net/fonts/font-awesome/6.4.2/css/all.min.css"
    referrerpolicy="no-referrer">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CRoboto+Condensed:300,400,500,700%7CPoppins:300,400,500,700%7COpen+Sans:300,400,500,700" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CRoboto+Condensed:300,400,500,700%7CPoppins:300,400,500,700%7COpen+Sans:300,400,500,700"
    type="text/css" referrerpolicy="no-referrer" media="print" onload="this.media='all'">
  <script>
    const onLinkBtnClick = () => {
      const link = ""
      try { gtag_report_conversion(link); } catch (error) { console.log(error);window.location.href = link; }
    }
  </script>
</head>

<body>
  <main id="<%= mountElementId %>"></main>
</body>

</html>