@charset "UTF-8";
/*--tab--*/

/* css reset */

/* =Reset
-------------------------------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input,
textarea,
select {
    *font-size: 100%;
}

legend {
    color: #000;
}

img {
    vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
    vertical-align: -2px;
}

label {
    cursor: pointer;
}

html>
/**/

body {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

*+html body {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* For modern browsers */

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */

.cf {
    zoom: 1;
}

.clr {
    clear: both;
}

/* =all
-------------------------------------------------------------- */

body {
    text-align: center;
    font-size: 12px;
    color: #000;
    background: #fff;
    line-height: 1.6;
    width: 100vw;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.line {
    text-decoration: underline;
}

a.line:hover {
    text-decoration: none;
}

/* font */

.fl,
fl02 {
    float: left;
}

.fr,
fr02 {
    float: right;
}

.ta_l {
    text-align: left;
}

.ta_c {
    text-align: center;
}

.ta_r {
    text-align: right;
}

.va_t {
    vertical-align: top;
}

.va_b {
    vertical-align: bottom;
}

.va_m {
    vertical-align: middle;
}

.lh17 {
    line-height: 1.7;
}

.lh20 {
    line-height: 2;
}

.f10 {
    font-size: 10px;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}

.f28 {
    font-size: 28px;
}

.red {
    color: #e60012;
}

.red02 {
    color: #f00;
}

.blue {
    color: #303f9f;
}

.pink {
    color: #f04c68;
}

.yellow {
    color: #f7b016;
}

.bold {
    font-weight: bold;
}

.orange {
    color: #ff7955;
}

/* mgn */

.mgn05 {
    margin-bottom: 5px;
}

.mgn08 {
    margin-bottom: 8px;
}

.mgn10 {
    margin-bottom: 10px;
}

.mgn13 {
    margin-bottom: 13px;
}

.mgn15 {
    margin-bottom: 15px;
}

.mgn20 {
    margin-bottom: 20px;
}

.mgn25 {
    margin-bottom: 25px;
}

.mgn30 {
    margin-bottom: 30px;
}

.mgn35 {
    margin-bottom: 35px;
}

.mgn40 {
    margin-bottom: 40px;
}

.mgn45 {
    margin-bottom: 45px;
}

.mgn50 {
    margin-bottom: 50px;
}

.mgn55 {
    margin-bottom: 55px;
}

.mgn60 {
    margin-bottom: 60px;
}

.mgn65 {
    margin-bottom: 65px;
}

.mgn70 {
    margin-bottom: 70px;
}

.mgn100 {
    margin-bottom: 100px;
}

.mgn120 {
    margin-bottom: 120px;
}

.mgn150 {
    margin-bottom: 150px;
}

a:hover img,
input[type="image"]:hover,
button:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
}

a,
a img,
input[type="image"] {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    opacity: 1;
}

/*----------------------------

Contents

-----------------------------*/

img {
    width: 100vw;
}

#header {
    height: 61px;
    border-top: 4px solid #004742;
    width: 100%;
}

#header img {
    height: 60px;
    width: 505px;
    margin: 0 auto;
}

#top {
    width: 100vw;
    background: url(../images/pc/bg000.jpg) no-repeat center top;
    background-size: cover;
    position: relative;
}

#top .inner {
    width: 100vw;
    position: relative;
    margin: 0 auto;
}

.txt {
    font-size: 12px;
}

#text {
    display: none;
}

.cv {
    width: 100vw;
    background: #004742;
    position: relative;
}

.inner02 {
    width: 100vw;
    height: 55vw;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    background: #005650 url(../images/pc/img_000_01_tab02.jpg) no-repeat center top;
    background-size: 100%;
}

.inner02 img {
    width: 10vw;
}

.cv1 {
    position: relative;
    z-index: 0;
}

.cv1 p {
    color: #fff;
    position: absolute;
    width: 12vw;
    text-align: left;
    top: 24%;
    right: 10%;
}

.cv1 .inner {
    padding-top: 12%;
    width: 100%;
    margin: 0 15vw;
}

.cv div.fl02 {
    width: 45vw;
    padding: 21vw 0 0 5vw;
    text-align: left;
    float: left;
}

.cv div.fr02 {
    padding: 18vw 4vw 0 4vw;
    float: left;
}

.cvtxt {
    width: 90vw;
    margin: 0 auto;
    clear: both;
    text-align: left;
}

.cvtel {
    margin-top: -140px;
    padding-bottom: 1px;
}

#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6 {
    width: 40vw;
}

.cv div.fl02 input[type=text] {
    width: 40vw;
    height: 5vw;
    line-height: 1.25;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 1% 2%;
    margin-bottom: 4%;
}

.cv div.fl02 label {
    display: block;
}

.cv div.fl02 label a {
    color: #fff;
}

.cv p {
    display: block;
    float: left;
    width: 90vw;
    text-aling: left;
}

.title {
    width: 100vw;
    padding-bottom: 8px;
    background: url(../images/pc/tit.jpg) repeat-x center bottom;
}

#sec1 {
    width: 100vw;
    background: url(../images/pc/bg002.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size: 100vw auto;
    margin: 0 auto;
}

#sec2 {
    width: 100vw;
    background: url(../images/pc/bg011.png) no-repeat center top, url(../images/pc/bg004.jpg) no-repeat center bottom;
    background-attachment: scroll, covered;
    background-size: 100vw, 190vw;
    margin: 0 auto;
}

#sec2 img {
    margin-top: -2px;
}

#sec3 {
    width: 100%;
    margin: 0 auto;
    background: url(../images/pc/bg010.jpg) no-repeat center bottom;
    background-size: 100%;
}

#sec3 .box img {
    margin: 0 auto;
    width: 100vw;
}

#sec4 {
    width: 100vw;
    background: url(../images/pc/bg005.jpg) no-repeat center top;
    background-size: 100vw auto;
    margin: 0 auto;
}

#sec4 .inner {
    width: 100vw;
    background: url(../images/pc/bg0005.jpg) no-repeat center bottom;
    background-size: 100vw auto;
    margin: 0 auto;
}

#sec5 {
    width: 100%;
    background: url(../images/pc/bg014.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size: 220vw;
}

#sec5 .box img {
    width: 80%;
    margin: 0 auto;
}

#sec5 .box img:last-child {
    padding-bottom: 10%;
}

#sec6 {
    width: 100vw;
    background: url(../images/pc/bg006.jpg) no-repeat center top;
    background-size: cover;
    margin: 0 auto;
}

dl.info {
    padding: 50px 0;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    line-height: 1.8em;
}

dl.info dt {
    font-weight: bold;
    margin-bottom: 10px;
}

dl.info dd {
    margin-bottom: 10px;
}

#footlink {
    width: 100%;
    line-height: 57px;
    background: #e5e5e5;
    color: #b5b5b5;
}

#footlink p {
    color: #004742;
    line-height: 1.5;
    padding-bottom: 10px;
}

.copy {
    color: #fff;
    width: 100%;
    background: #2a2a2a;
    line-height: 38px;
}

.tel img {
    display: none;
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */

.pc {
    display: block !important;
}

.sp {
    display: none !important;
}