@charset "UTF-8";
/*--PC--*/

/* css reset */

/* =Reset
-------------------------------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input,
textarea,
select {
    *font-size: 100%;
}

legend {
    color: #000;
}

img {
    vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
    vertical-align: -2px;
}

label {
    cursor: pointer;
}

html>
/**/

body {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

*+html body {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* For modern browsers */

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */

.cf {
    zoom: 1;
}

.clr {
    clear: both;
}

/* =all
-------------------------------------------------------------- */

body {
    text-align: center;
    font-size: 12px;
    color: #000;
    background: #fff;
    line-height: 1.6;
    width: 100%;
    min-width: min-content;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.line {
    text-decoration: underline;
}

a.line:hover {
    text-decoration: none;
}

/* font */

.fl,
fl02 {
    float: left;
}

.fr,
fr02 {
    float: right;
}

.ta_l {
    text-align: left;
}

.ta_c {
    text-align: center;
}

.ta_r {
    text-align: right;
}

.va_t {
    vertical-align: top;
}

.va_b {
    vertical-align: bottom;
}

.va_m {
    vertical-align: middle;
}

.lh17 {
    line-height: 1.7;
}

.lh20 {
    line-height: 2;
}

.f10 {
    font-size: 10px;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}

.f28 {
    font-size: 28px;
}

.f36 {
    font-size: 36px;
}

.f50 {
    font-size: 50px;
}

.red {
    color: #e60012;
}

.red02 {
    color: #f00;
}

.blue {
    color: #303f9f;
}

.pink {
    color: #f04c68;
}

.yellow {
    color: #f7b016;
}

.bold {
    font-weight: bold;
}

.orange {
    color: #ff7955;
}

/* mgn */

.mgn50 {
    margin-bottom: 50px;
}

.mgn55 {
    margin-bottom: 55px;
}

.mgn60 {
    margin-bottom: 60px;
}

a:hover img,
input[type="image"]:hover,
button:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
}

a,
a img,
input[type="image"] {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    opacity: 1;
}

.adbfont {
    font-family: kinto-sans, sans-serif;
}

.adbfw300 {
    font-weight: 300;
    font-style: normal;
}

.adbfw400 {
    font-weight: 400;
    font-style: normal;
}

.adbfw700 {
    font-weight: 700;
    font-style: normal;
}

/*----------------------------

Contents

-----------------------------*/

#header01 {
    height: 61px;
    width: 100%;
    min-width: 950px;
    position: relative;
    box-shadow: 0px 3px 5px #d5d5d5;
    z-index: 2;
}

#top {
    width: 100%;
    min-width: 950px;
    height: 945px;
    background: url(../images/pc/fv_bg.png) no-repeat center top;
    background-size: cover;
    position: relative;
}

.txt {
    font-size: 12px !important;
}

#text {
    display: none;
}

#top .inner {
    width: 1200px;
    min-width: 950px;
    height: 706px;
    position: relative;
    margin: 0 auto;
}

.innerflash {
    position: absolute;
    top: 155px;
    left: 87px;
    animation: blinking 1s ease-in-out infinite alternate;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cvbeforbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cvbefor_bg {
    display: inline-block;
    background: #000;
    opacity: 0.62;
    height: 239px;
    width: 80%;
}

.cv {
    width: 100%;
    min-width: 995px;
    background: #f3f3f3;
    position: relative;
}

.cv .inner {
    width: 1200px;
    height: 494px;
    margin: 0 auto;
    color: #fff;
    background: #f3f3f3 url(../images/pc/cvbg.png) no-repeat bottom center;
}

.inner02 {
    width: 1200px;
    height: 494px;
    margin: 0 auto;
    color: #414141;
    background: #f3f3f3 url(../images/pc/cvbg.png) no-repeat top center;
}

.cv1 {
    position: relative;
    z-index: 0;
    padding-bottom: 3px;
}

.cv1 p {
    color: #333;
    position: absolute;
    width: 150px;
    text-align: left;
    top: 184px;
    right: 51%;
    margin-right: -430px;
}

.cv1 .inner {
    padding-top: 70px;
}

.cv div.fl {
    width: 426px;
    padding: 203px 44px 0 46px;
    text-align: left;
}

.cv div.fl02 {
    width: 585px;
    padding: 92px 5px 0 8px;
    text-align: left;
    float: left;
}

.cv div.fr {
    width: 479px;
    text-align: left;
    padding: 186px 0 0 0;
}

.cv div.fr02 {
    width: 563px;
    text-align: left;
    padding: 49px 0 0 0px;
    float: right;
}

.cv div.fl input[type=email],
.cv div.fl02 input[type=email] {
    width: 563px;
    height: 79px;
    line-height: 60px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border: solid 3px #ac983e;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 12px;
}

.cv div.fl label {
    display: block;
}

.cv div.fl02 label {
    display: block;
}

.cvtxt {
    width: 1182px;
    margin: 0 auto;
    clear: both;
    text-align: left;
}

.cvtel {
    margin: 0 auto;
    width: 1000px;
    margin-top: -140px;
    padding-bottom: 1px;
}

.cv div.fl label a {
    color: #0075ff;
}

.cv div.fl02 label a {
    color: #0075ff;
}

label {
    font-size: 14px;
}

.title {
    width: 100%;
    min-width: 995px;
    padding-bottom: 8px;
    box-shadow: 0px 3px 5px #d5d5d5;
    position: relative;
}

#sec1 {
    width: 100%;
    background: url(../images/pc/bg002.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size: 100% auto;
    margin: 0 auto;
    min-width: 995px;
}

#sec1 .box img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

#sec1 .box p {
    font-size: 20px;
}

#sec2 {
    width: 100%;
    background: url(../images/pc/con_bg_01.png) no-repeat center top;
    background-size: cover;
    margin: 0 auto;
}

#sec2 .inner p {
    font-family: kinto-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 51px;
    display: inline-block;
    width: 1200px;
    word-break: keep-all;
}

#sec2 .inner p span,
.wbm span {
    display: block;
}

.arrow {
    margin: 20px auto;
    display: block;
}

.riyubox {
    width: 1000px;
    margin: 0 auto;
}

.ri_content {
    display: inline-block;
    margin: 20px auto;
}

.riyubox .ri_content p {
    font-family: kinto-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    font-size: 20px;
    width: 800px;
    margin: 11px auto;
}

img.reimg {
    margin: 30px auto;
    display: block;
}

.wbm {
    display: inline-block;
    width: 1200px;
    word-break: keep-all;
}

#sec3 {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

#sec3 .box img {
    margin: 0 auto;
}

.tbmgn {
    margin: 80px auto 20px !important;
}

#sec502 {
    width: 100%;
    background: url(../images/pc/con_bg_02.png) no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 130px;
}

#sec502 .box img {
    margin: 0 auto;
    display: block;
}

#sec503 img {
    margin: 0 auto;
    display: block;
}

#sec503 .box01 {
    max-width: 1000px;
    margin: 0 auto 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sec503 .box02 {
    max-width: 900px;
    margin: 50px auto;
    text-align: justify;
}

#sec503 .box02 p {
    font-size: 22px;
    color: #262626;
    line-height: 1.7;
    margin: 0;
}

.footer {
    width: 100%;
    background: #ececec;
}

dl.info {
    padding: 50px 0;
    text-align: left;
    width: 995px;
    margin: 0 auto;
    line-height: 1.8em;
}

dl.info dt {
    font-weight: bold;
    margin-bottom: 10px;
}

dl.info dd {
    margin-bottom: 10px;
}

#footlink {
    width: 100%;
    min-width: 995px;
    line-height: 57px;
    background: #e5e5e5;
    color: #b5b5b5;
}

#footlink p {
    color: #004742;
    line-height: 1.5;
    padding-bottom: 10px;
}

.copy {
    color: #fff;
    width: 100%;
    min-width: 995px;
    background: #2a2a2a;
    line-height: 38px;
}

.tel img {
    display: none;
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */

.pc {
    display: block !important;
}

.sp {
    display: none !important;
}