
._karte-g__4I82_ ._krt-icon-close07__4I82_ {
  font-family: 'icomoon_close07' !important;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._karte-g__4I82_ ._krt-icon-close07__4I82_:before {
  font-family: 'icomoon_close07' !important;
  content: '\E900';
}

._karte-g__4I82_ ._karte-temp-whole__4I82_ {
  position: relative;
  height: 100%;
}

._karte-g__4I82_ ._karte-temp-whole__4I82_ * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
}

._karte-g__4I82_ ._karte-temp-whole__4I82_ img {
  vertical-align: top;
  width: 100%;
}

._karte-g__4I82_ ._karte-temp-hover__4I82_ {
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  display: block;
}

._karte-g__4I82_ ._karte-temp-hover__4I82_ * {
  cursor: pointer;
}

._karte-g__4I82_ ._karte-temp-hover__4I82_:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  text-decoration: none;
}

._karte-g__4I82_ ._karte-temp-state1__4I82_ {
  min-width: 100%;
  min-height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  background: rgba(0, 0, 0, 0);
  padding: 0px;
}

._karte-g__4I82_ ._karte-temp-close__4I82_ {
  position: absolute;
  z-index: 1;
  top: -5px;
  right: -5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #ff5722;
  color: #ffffff;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

._karte-g__4I82_ ._karte-temp-card__4I82_ {
  overflow: hidden;
  width: 90vw;
  max-width: 60px;
  margin: 0 auto;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0);
}

.karte-r,
.karte-r div,
.karte-r span,
.karte-r object,
.karte-r iframe,
.karte-r h1,
.karte-r h2,
.karte-r h3,
.karte-r h4,
.karte-r h5,
.karte-r h6,
.karte-r p,
.karte-r blockquote,
.karte-r pre,
.karte-r abbr,
.karte-r address,
.karte-r cite,
.karte-r code,
.karte-r del,
.karte-r dfn,
.karte-r em,
.karte-r img,
.karte-r ins,
.karte-r kbd,
.karte-r q,
.karte-r samp,
.karte-r small,
.karte-r strong,
.karte-r sub,
.karte-r sup,
.karte-r var,
.karte-r b,
.karte-r i,
.karte-r dl,
.karte-r dt,
.karte-r dd,
.karte-r ol,
.karte-r ul,
.karte-r li,
.karte-r fieldset,
.karte-r form,
.karte-r label,
.karte-r legend,
.karte-r table,
.karte-r caption,
.karte-r tbody,
.karte-r tfoot,
.karte-r thead,
.karte-r tr,
.karte-r th,
.karte-r td,
.karte-r article,
.karte-r aside,
.karte-r canvas,
.karte-r details,
.karte-r figcaption,
.karte-r figure,
.karte-r footer,
.karte-r header,
.karte-r hgroup,
.karte-r menu,
.karte-r nav,
.karte-r section,
.karte-r summary,
.karte-r time,
.karte-r mark,
.karte-r audio,
.karte-r video {
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 0;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-timing-function: ease;
  backface-visibility: visible;
  background: 0;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  border: 0;
  border-style: none;
  border-width: medium;
  border-color: inherit;
  border-bottom: 0;
  border-bottom-color: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-collapse: separate;
  border-image: none;
  border-left: 0;
  border-left-color: inherit;
  border-left-style: none;
  border-left-width: medium;
  border-radius: 0;
  border-right: 0;
  border-right-color: inherit;
  border-right-style: none;
  border-right-width: medium;
  border-spacing: 0;
  border-top: 0;
  border-top-color: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-top-width: medium;
  bottom: auto;
  box-shadow: none;
  box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: inherit;
  columns: auto;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-rule: medium none currentColor;
  column-rule-color: currentColor;
  column-rule-style: none;
  column-rule-width: none;
  column-span: 1;
  column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  display: inline;
  empty-cells: show;
  float: none;
  font-size: 100%;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  hyphens: none;
  left: auto;
  letter-spacing: normal;
  line-height: normal;
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  orphans: 0;
  outline: 0;
  outline-color: invert;
  outline-style: none;
  outline-width: medium;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  perspective: none;
  perspective-origin: 50% 50%;
  position: static;
  /* May need to alter quotes for different locales (e.g fr) */
  quotes: '\201C' '\201D' '\2018' '\2019';
  right: auto;
  tab-size: 8;
  table-layout: auto;
  text-align: inherit;
  text-align-last: auto;
  text-decoration: none;
  text-decoration-color: inherit;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  transform: none;
  transform-style: flat;
  transition: none;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: none;
  transition-timing-function: ease;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 0;
  width: auto;
  word-spacing: normal;
  z-index: auto;
}

.karte-r address,
.karte-r blockquote,
.karte-r dd,
.karte-r div,
.karte-r dl,
.karte-r dt,
.karte-r fieldset,
.karte-r form,
.karte-r div.form,
.karte-r frame,
.karte-r frameset,
.karte-r h1,
.karte-r h2,
.karte-r h3,
.karte-r h4,
.karte-r h5,
.karte-r h6,
.karte-r noframes,
.karte-r ol,
.karte-r p,
.karte-r ul,
.karte-r center,
.karte-r dir,
.karte-r hr,
.karte-r menu,
.karte-r pre,
.karte-r article,
.karte-r aside,
.karte-r canvas,
.karte-r details,
.karte-r figcaption,
.karte-r figure,
.karte-r footer,
.karte-r header,
.karte-r hgroup,
.karte-r nav,
.karte-r section,
.karte-r summary {
  display: block;
}

.karte-r li {
  display: list-item;
}

.karte-r table {
  display: table;
}

.karte-r tr {
  display: table-row;
}

.karte-r thead {
  display: table-header-group;
}

.karte-r tbody {
  display: table-row-group;
}

.karte-r tfoot {
  display: table-footer-group;
}

.karte-r col {
  display: table-column;
}

.karte-r colgroup {
  display: table-column-group;
}

.karte-r td,
.karte-r th {
  display: table-cell;
}

.karte-r caption {
  display: table-caption;
}

.karte-r input,
.karte-r select {
  display: inline-block;
}

.karte-r b,
.karte-r strong {
  font-weight: bold;
}

.karte-r textarea,
.karte-r input {
  cursor: text;
}

/*
          Animate.css - http://daneden.me/animate
          Licensed under the MIT license - http://opensource.org/licenses/MIT
          Copyright (c) 2015 Daniel Eden
          */
#karte-c .karte-animated {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}

#karte-c .karte-animated.karte-infinite {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#karte-c .karte-animated.karte-hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}

#karte-c.karte-bounceIn,
#karte-c.karte-bounceOut {
  -webkit-animation-duration: 0.375s;
  -moz-animation-duration: 0.375s;
  -o-animation-duration: 0.375s;
  -ms-animation-duration: 0.375s;
  animation-duration: 0.375s;
}

#karte-c.karte-flipOutX,
#karte-c.karte-flipOutY {
  -webkit-animation-duration: 0.375s;
  -moz-animation-duration: 0.375s;
  -o-animation-duration: 0.375s;
  -ms-animation-duration: 0.375s;
  animation-duration: 0.375s;
}

#karte-c .karte-bounceIn {
  -webkit-animation-name: karte-bounceIn;
  -moz-animation-name: karte-bounceIn;
  -o-animation-name: karte-bounceIn;
  -ms-animation-name: karte-bounceIn;
  animation-name: karte-bounceIn;
}

@-moz-keyframes karte-bounceIn {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes karte-bounceIn {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes karte-bounceIn {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes karte-bounceIn {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

#karte-c .karte-bounceInDown {
  -webkit-animation-name: karte-bounceInDown;
  -moz-animation-name: karte-bounceInDown;
  -o-animation-name: karte-bounceInDown;
  -ms-animation-name: karte-bounceInDown;
  animation-name: karte-bounceInDown;
}

@-moz-keyframes karte-bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes karte-bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes karte-bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes karte-bounceInDown {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

#karte-c .karte-bounceInLeft {
  -webkit-animation-name: karte-bounceInLeft;
  -moz-animation-name: karte-bounceInLeft;
  -o-animation-name: karte-bounceInLeft;
  -ms-animation-name: karte-bounceInLeft;
  animation-name: karte-bounceInLeft;
}

@-moz-keyframes karte-bounceInLeft {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes karte-bounceInLeft {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-o-keyframes karte-bounceInLeft {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes karte-bounceInLeft {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

#karte-c .karte-bounceInRight {
  -webkit-animation-name: karte-bounceInRight;
  -moz-animation-name: karte-bounceInRight;
  -o-animation-name: karte-bounceInRight;
  -ms-animation-name: karte-bounceInRight;
  animation-name: karte-bounceInRight;
}

@-moz-keyframes karte-bounceInRight {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  80% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -o-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes karte-bounceInRight {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  80% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -o-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-o-keyframes karte-bounceInRight {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  80% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -o-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes karte-bounceInRight {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -o-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  80% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -o-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

#karte-c .karte-bounceInUp {
  -webkit-animation-name: karte-bounceInUp;
  -moz-animation-name: karte-bounceInUp;
  -o-animation-name: karte-bounceInUp;
  -ms-animation-name: karte-bounceInUp;
  animation-name: karte-bounceInUp;
}

@-moz-keyframes karte-bounceInUp {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes karte-bounceInUp {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes karte-bounceInUp {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes karte-bounceInUp {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

#karte-c .karte-fadeIn {
  -webkit-animation-name: karte-fadeIn;
  -moz-animation-name: karte-fadeIn;
  -o-animation-name: karte-fadeIn;
  -ms-animation-name: karte-fadeIn;
  animation-name: karte-fadeIn;
}

@-moz-keyframes karte-fadeIn {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@-webkit-keyframes karte-fadeIn {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@-o-keyframes karte-fadeIn {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@keyframes karte-fadeIn {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

#karte-c .fadeInDown {
  -webkit-animation-name: karte-fadeInDown;
  -moz-animation-name: karte-fadeInDown;
  -o-animation-name: karte-fadeInDown;
  -ms-animation-name: karte-fadeInDown;
  animation-name: karte-fadeInDown;
}

@-moz-keyframes karte-fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes karte-fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes karte-fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes karte-fadeInDown {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

#karte-c .karte-fadeInUp {
  -webkit-animation-name: karte-fadeInUp;
  -moz-animation-name: karte-fadeInUp;
  -o-animation-name: karte-fadeInUp;
  -ms-animation-name: karte-fadeInUp;
  animation-name: karte-fadeInUp;
}

@-moz-keyframes karte-fadeInUp {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes karte-fadeInUp {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes karte-fadeInUp {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes karte-fadeInUp {
  0% {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

#karte-c .karte-slideInDown {
  -webkit-animation-name: karte-slideInDown;
  -moz-animation-name: karte-slideInDown;
  -o-animation-name: karte-slideInDown;
  -ms-animation-name: karte-slideInDown;
  animation-name: karte-slideInDown;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

@-moz-keyframes karte-slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes karte-slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes karte-slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes karte-slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#karte-c .karte-slideInLeft {
  -webkit-animation-name: karte-slideInLeft;
  -moz-animation-name: karte-slideInLeft;
  -o-animation-name: karte-slideInLeft;
  -ms-animation-name: karte-slideInLeft;
  animation-name: karte-slideInLeft;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

@-moz-keyframes karte-slideInLeft {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes karte-slideInLeft {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes karte-slideInLeft {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes karte-slideInLeft {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#karte-c .karte-slideInRight {
  -webkit-animation-name: karte-slideInRight;
  -moz-animation-name: karte-slideInRight;
  -o-animation-name: karte-slideInRight;
  -ms-animation-name: karte-slideInRight;
  animation-name: karte-slideInRight;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

@-moz-keyframes karte-slideInRight {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes karte-slideInRight {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes karte-slideInRight {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes karte-slideInRight {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#karte-c .karte-slideInUp {
  -webkit-animation-name: karte-slideInUp;
  -moz-animation-name: karte-slideInUp;
  -o-animation-name: karte-slideInUp;
  -ms-animation-name: karte-slideInUp;
  animation-name: karte-slideInUp;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

@-moz-keyframes karte-slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes karte-slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes karte-slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes karte-slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#karte-c .karte-widget {
  position: fixed;
  z-index: 2147483640;
}

#karte-c .karte-widget__content {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
}

/* 仕様は要検討 Android4.3以下がスクロールできなくなっちゃうんで仕方なく。スクロール操作可能な範囲がコンテンツに狭く限定されるため全体に適用しないこと */
#karte-c.karte-ua-android_4_3:not(.karte-ua-chrome) .karte-widget__content,
#karte-c.karte-ua-android_4_2:not(.karte-ua-chrome) .karte-widget__content,
#karte-c.karte-ua-android_4_1:not(.karte-ua-chrome) .karte-widget__content,
#karte-c.karte-ua-android_4_0:not(.karte-ua-chrome) .karte-widget__content {
  -ms-overflow-style: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#karte-c .karte-widget.karte-widget--wrap {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#karte-c .karte-widget.karte-widget--wrap .karte-widget__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -50%;
  /* モバイルブラウザのツールバー移動によるサイズ変更に対処 */
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2147483641;
}

#karte-c .karte-widget.karte-widget--wrap .karte-widget__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2147483642;
  min-width: 100%;
  min-height: 100%;
  display: -webkit-box;
  /*--- Android ---*/
  display: -moz-box;
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari ---*/
  display: flex;
  -webkit-box-align: center;
  /*--- Android ---*/
  -moz-box-align: center;
  -ms-flex-align: center;
  /*--- IE10 ---*/
  -webkit-align-items: center;
  /*--- safari ---*/
  align-items: center;
  -webkit-box-pack: center;
  /*--- Android ---*/
  -moz-box-pack: center;
  -ms-flex-pack: center;
  /*--- IE10 ---*/
  -webkit-justify-content: center;
  /*--- safari ---*/
  justify-content: center;
  -ms-overflow-style: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#karte-c .karte-widget.karte-widget--wrap.karte-widget--enter .karte-widget__backdrop {
  opacity: 0;
}

#karte-c .karte-widget.karte-widget--wrap.karte-widget--enter.karte-widget--enter-active .karte-widget__backdrop {
  opacity: 1;
  transition: opacity 0.4s ease;
}

#karte-c .karte-widget.karte-widget--wrap.karte-widget--leave .karte-widget__backdrop {
  opacity: 1;
}

#karte-c .karte-widget.karte-widget--wrap.karte-widget--leave.karte-widget--leave-active .karte-widget__backdrop {
  opacity: 0;
  transition: opacity 0.4s ease;
}

#karte-c .karte-widget.karte-widget--left {
  left: 0;
}

#karte-c .karte-widget.karte-widget--top {
  top: 0;
}

#karte-c .karte-widget.karte-widget--right {
  right: 0;
}

#karte-c .karte-widget.karte-widget--bottom {
  bottom: 0;
}

#karte-c .karte-widget.karte-widget--middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#karte-c .karte-widget.karte-widget--center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#karte-c .karte-widget.karte-widget--fit-width {
  right: 0;
  left: 0;
}

#karte-c .karte-widget.karte-widget--fit-height {
  top: 0;
  bottom: 0;
}

#karte-c .karte-widget.karte-widget--fit-height .karte-widget__container {
  height: 100%;
}

#karte-c .karte-widget.karte-widget--fit-height .karte-widget__content {
  height: 100%;
}

@media screen and (min-width: 641px) {
  #karte-c .karte-widget.karte-widget--wrap-pc {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #karte-c .karte-widget.karte-widget--wrap-pc .karte-widget__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -50%;
    /* モバイルブラウザのツールバー移動によるサイズ変更に対処 */
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2147483641;
  }

  #karte-c .karte-widget.karte-widget--wrap-pc .karte-widget__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2147483642;
    min-width: 100%;
    min-height: 100%;
    display: -webkit-box;
    /*--- Android ---*/
    display: -moz-box;
    display: -ms-flexbox;
    /*--- IE10 ---*/
    display: -webkit-flex;
    /*--- safari ---*/
    display: flex;
    -webkit-box-align: center;
    /*--- Android ---*/
    -moz-box-align: center;
    -ms-flex-align: center;
    /*--- IE10 ---*/
    -webkit-align-items: center;
    /*--- safari ---*/
    align-items: center;
    -webkit-box-pack: center;
    /*--- Android ---*/
    -moz-box-pack: center;
    -ms-flex-pack: center;
    /*--- IE10 ---*/
    -webkit-justify-content: center;
    /*--- safari ---*/
    justify-content: center;
    -ms-overflow-style: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  #karte-c .karte-widget.karte-widget--wrap-pc.karte-widget--enter .karte-widget__backdrop {
    opacity: 0;
  }

  #karte-c .karte-widget.karte-widget--wrap-pc.karte-widget--enter.karte-widget--enter-active .karte-widget__backdrop {
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  #karte-c .karte-widget.karte-widget--wrap-pc.karte-widget--leave .karte-widget__backdrop {
    opacity: 1;
  }

  #karte-c .karte-widget.karte-widget--wrap-pc.karte-widget--leave.karte-widget--leave-active .karte-widget__backdrop {
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  #karte-c .karte-widget.karte-widget--left-pc {
    left: 0;
  }

  #karte-c .karte-widget.karte-widget--top-pc {
    top: 0;
  }

  #karte-c .karte-widget.karte-widget--right-pc {
    right: 0;
  }

  #karte-c .karte-widget.karte-widget--bottom-pc {
    bottom: 0;
  }

  #karte-c .karte-widget.karte-widget--middle-pc {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #karte-c .karte-widget.karte-widget--center-pc {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #karte-c .karte-widget.karte-widget--fit-width-pc {
    right: 0;
    left: 0;
  }

  #karte-c .karte-widget.karte-widget--fit-height-pc {
    top: 0;
    bottom: 0;
  }

  #karte-c .karte-widget.karte-widget--fit-height-pc .karte-widget__container {
    height: 100%;
  }

  #karte-c .karte-widget.karte-widget--fit-height-pc .karte-widget__content {
    height: 100%;
  }
}

@media screen and (max-width: 640px) {
  #karte-c .karte-widget.karte-widget--wrap-mb {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #karte-c .karte-widget.karte-widget--wrap-mb .karte-widget__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -50%;
    /* モバイルブラウザのツールバー移動によるサイズ変更に対処 */
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2147483641;
  }

  #karte-c .karte-widget.karte-widget--wrap-mb .karte-widget__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2147483642;
    min-width: 100%;
    min-height: 100%;
    display: -webkit-box;
    /*--- Android ---*/
    display: -moz-box;
    display: -ms-flexbox;
    /*--- IE10 ---*/
    display: -webkit-flex;
    /*--- safari ---*/
    display: flex;
    -webkit-box-align: center;
    /*--- Android ---*/
    -moz-box-align: center;
    -ms-flex-align: center;
    /*--- IE10 ---*/
    -webkit-align-items: center;
    /*--- safari ---*/
    align-items: center;
    -webkit-box-pack: center;
    /*--- Android ---*/
    -moz-box-pack: center;
    -ms-flex-pack: center;
    /*--- IE10 ---*/
    -webkit-justify-content: center;
    /*--- safari ---*/
    justify-content: center;
    -ms-overflow-style: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  #karte-c .karte-widget.karte-widget--wrap-mb.karte-widget--enter .karte-widget__backdrop {
    opacity: 0;
  }

  #karte-c .karte-widget.karte-widget--wrap-mb.karte-widget--enter.karte-widget--enter-active .karte-widget__backdrop {
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  #karte-c .karte-widget.karte-widget--wrap-mb.karte-widget--leave .karte-widget__backdrop {
    opacity: 1;
  }

  #karte-c .karte-widget.karte-widget--wrap-mb.karte-widget--leave.karte-widget--leave-active .karte-widget__backdrop {
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  #karte-c .karte-widget.karte-widget--left-mb {
    left: 0;
  }

  #karte-c .karte-widget.karte-widget--top-mb {
    top: 0;
  }

  #karte-c .karte-widget.karte-widget--right-mb {
    right: 0;
  }

  #karte-c .karte-widget.karte-widget--bottom-mb {
    bottom: 0;
  }

  #karte-c .karte-widget.karte-widget--middle-mb {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #karte-c .karte-widget.karte-widget--center-mb {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #karte-c .karte-widget.karte-widget--fit-width-mb {
    right: 0;
    left: 0;
  }

  #karte-c .karte-widget.karte-widget--fit-height-mb {
    top: 0;
    bottom: 0;
  }

  #karte-c .karte-widget.karte-widget--fit-height-mb .karte-widget__container {
    height: 100%;
  }

  #karte-c .karte-widget.karte-widget--fit-height-mb .karte-widget__content {
    height: 100%;
  }
}

#karte-c .karte-widget.karte-widget--middle.karte-widget--center {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#karte-c .karte-widget.karte-widget--holizontal-base {
  left: 0;
  right: 0;
  min-width: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  /*--- Android ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari ---*/
  display: flex;
  -webkit-box-align: center;
  /*--- Android ---*/
  -ms-flex-align: center;
  /*--- IE10 ---*/
  -webkit-align-items: center;
  /*--- safari ---*/
  align-items: center;
  -webkit-box-pack: center;
  /*--- Android ---*/
  -ms-flex-pack: center;
  /*--- IE10 ---*/
  -webkit-justify-content: center;
  /*--- safari ---*/
  justify-content: center;
  -ms-overflow-style: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*
          #karte-c .karte-widget--holizontal-base::-webkit-scrollbar { width: 0 !important }
          */
#karte-c .karte-widget.karte-widget--vertical-base {
  min-height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  /*--- Android ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari ---*/
  display: flex;
  -webkit-box-align: center;
  /*--- Android ---*/
  -ms-flex-align: center;
  /*--- IE10 ---*/
  -webkit-align-items: center;
  /*--- safari ---*/
  align-items: center;
  -webkit-box-pack: center;
  /*--- Android ---*/
  -ms-flex-pack: center;
  /*--- IE10 ---*/
  -webkit-justify-content: center;
  /*--- safari ---*/
  justify-content: center;
  -ms-overflow-style: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*
  #karte-c .karte-widget--vertical-base::-webkit-scrollbar { width: 0 !important }
*/
#karte-c .karte-widget.karte-widget--fit-size {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#karte-c .karte-widget.karte-widget--hidden {
  display: none;
}

#karte-6681376.karte-widget.karte-widget--bottom.karte-widget--right {
  bottom: 32px;
  right: 33px;
}



@media screen and (max-width: 640px) {
  #karte-6681376.karte-widget.karte-widget--bottom.karte-widget--right {
    bottom: 32px;
    right: 33px;
  }
}
