<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link href="data:," rel="icon">
	<meta content="noindex,nofollow,noarchive" name="robots">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<script
		src="static/2c9f2e41/static/js/application-fca8d9efa05c78924c0cd69ac04e80463c29b4739e17719a703325084eafa398.js"></script>
	<style>
	
	</style>
	<script>
		/* Polyfill service v3.25.1
					* Disable minification (remove `.min` from URL path) for more info */

		(function (self, undefined) { Object.defineProperty(Array.prototype, "values", { value: Array.prototype[Symbol.iterator], enumerable: !1, writable: !1 }); })('object' === typeof window && window || 'object' === typeof self && self || 'object' === typeof global && global || {});
	</script>
	<script src="static/2c9f2e41/static/js/URI.min.js"></script>
	<script type="text/javascript" src="static/2c9f2e41/static/js/smooth-scroll.min.js"></script>
</head>


<body>
	<div class="js-m-id" data-value="5"></div>
	<div class="js-v-id" data-value="b0a6bbbf-189f-4678-aeb5-ac69cf232bc3"></div>
	<div class="js-a-id" data-value="MCpHpWtgzVjPXlKenJZypw"></div>
	<div class="js-ab-id" data-value="aOpDFcWquEVQRFMMcGw"></div>
	<div class="js-t-id" data-value="67943917-46bb-4f07-83da-b474d6c8dbdc"></div>
	<div class="js-f-id" data-value="4baf2104-2665-4fcd-95fc-44466e7aa138"></div>
	<div class="js-asp-session" data-value="{&quot;session_id&quot;:null}"></div>
	<div class="js-folder-form-host" data-value="article.squadbeyond.com"></div>
	<div class="js-has-funnel" data-value="false"></div>
	<style></style>
	<style>
	
	</style>
	<div class="article-body">
		<div draggable="false" class="">
			<div class="sb-custom">
				<span contenteditable="false">
					<div id="sb-part-11909" class="sb-custom-part-m79ti7nwnp4ffqwbdlg">
						<div class="main">
							<picture>
								<source type="image/webp"
									data-srcset="uploads/article_photo/photo/5062630/ce0952ce-3623-4948-a228-b2dbf38a6da5.webp">
								<source type="image/avif"
									data-srcset="uploads/article_photo/photo/5062630/ce0952ce-3623-4948-a228-b2dbf38a6da5.avif">
								<img src="static/2c9f2e41/static/picture/lazy.png" width="700" height="525"
									draggable="false" class="lazyload"
									data-src="uploads/article_photo/photo/5062630/ce0952ce-3623-4948-a228-b2dbf38a6da5.png">
							</picture>
						</div>
					</div>
					<style>
					
					</style>
				</span>
			</div>
		</div>
		<div style="text-align: right;">
			<br>
		</div>
		<div style="text-align: right;">
			<span style="font-size: 10px;">PR：株式会社オービー</span>
		</div>
		<div style="text-align: center;">
			<video class="ql-video lazyload" height="289" width="515" autoplay="" oncanplay="this.muted=true"
				muted="true" loop="" allowfullscreen="true" controlslist="nodownload" name="media" playsinline="">
				<source type="video/mp4"
					data-src="uploads/article_photo/photo/3062766/797277f0-965c-415f-a8b4-9429997e0148.mp4">
			</video>
		</div>
		<div>
			<br>
		</div>
		<div>投資初心者でも、<strong
				style="background-color: rgb(255, 255, 0); color: rgb(255, 0, 0);">たった1ヶ月で100万、200万は当たり前に稼げてしまう、</strong>
		</div>
		<div>
			<br>
		</div>
		<div>
			<strong>1日たった5分で出来る投資法</strong>が
		</div>
		<div>
			<strong style="color: rgb(255, 0, 0);">無料公開</strong>され絶賛の声が続出！！
		</div>
		<div>
			<br>
		</div>
		<div>
			<div class="sb-custom">
				<span contenteditable="false">
					<div id="sb-part-10988" class="sb-custom-part-lma37l392mf8jwjszc6">
						<!-- ############################################ -->
						<!--
    表示枚数                       6
    画像同士の切替スピード           2秒
    画像の消えるアニメーションスピード 1秒
    ※スピード設定はCSSにあります。
-->
						<!-- ############################################ -->
						<section class="c-img01">
							<!-- 追加は↓↓をコピー/削除は不必要な↓↓を削除 -->
							<div class="c-img01__item">
								<picture>
									<img src="static/2c9f2e41/static/picture/lazy.png" width="570" height="477"
										draggable="false" class="lazyload"
										data-src="uploads/article_photo/photo/2992321/0f27cf94-50ec-4a22-8d53-8374d5537a0e.png">
								</picture>
							</div>
							<!-- 追加は↑↑をコピー/削除は不必要な↑↑を削除 -->
							<div class="c-img01__item">
								<img src="static/2c9f2e41/static/picture/lazy.png" height="570" width="570"
									draggable="false" class="lazyload"
									data-src="uploads/article_photo/photo/2992323/3e11ea15-9a62-462e-b050-e963fdab885d.png">
							</div>
							<div class="c-img01__item">
								<img src="static/2c9f2e41/static/picture/lazy.png" height="570" width="570"
									draggable="false" class="lazyload"
									data-src="uploads/article_photo/photo/2992324/85c8cdb4-d380-4ac4-87dc-56f9ea1799f3.png">
							</div>
						</section>
		
					</div>
					<style>
					
					</style>
				</span>
			</div>
		</div>
		<div>
			<br>
		</div>
		<div>この投資法は<strong style="background-color: rgba(0, 0, 0, 0);">
				<span class="sb-bg-under-marker"
					style="background: rgba(0, 0, 0, 0) linear-gradient(transparent 80%,#ffff00 0%) repeat scroll 0 0;"
					data-color="#ffff00" data-border-size="80%">投資の知識、経験、スキルがゼロでも全く問題ナシ！</span>
			</strong>
		</div>
		<div>
			<br>
		</div>
		<div>
			<strong style="color: rgb(255, 0, 0);">「1日5分」</strong>さえあれば出来てしまう投資法として話題になっているんです。
		</div>
		<div>
			<br>
		</div>
		<div>しかも「一発で〇〇円！」といった</div>
		<div>ギャンブル性の高いものでもなくて、</div>
		<div>
			<br>
		</div>
		<div>株式投資の情報番組<strong style="color: rgb(240, 102, 102);">『STOCK VOICE』</strong>でも特集された<strong
				style="background-color: rgba(0, 0, 0, 0);">
				<span class="sb-bg-under-marker"
					style="background: rgba(0, 0, 0, 0) linear-gradient(transparent 80%,#ffff00 0%) repeat scroll 0 0;"
					data-color="#ffff00" data-border-size="80%">安全でリターンも狙える、まっとうな投資法。</span>
			</strong>
		</div>
		<div>
			<br>
		</div>
		<div style="text-align: center;">
			<strong style="font-size: 15px;">(YouTubeチャンネルは投資系の中で最大規模)</strong>
		</div>
		<div style="text-align: center;">
			<picture>
				<source type="image/webp"
					data-srcset="uploads/article_photo/photo/2991701/c7da021f-a868-48f2-b637-7484a06c6f3d.webp">
				<source type="image/avif"
					data-srcset="uploads/article_photo/photo/2991701/c7da021f-a868-48f2-b637-7484a06c6f3d.avif">
				<img src="static/2c9f2e41/static/picture/lazy.png" class="lazyload" height="280" width="570"
					data-src="uploads/article_photo/photo/2991701/c7da021f-a868-48f2-b637-7484a06c6f3d.png">
			</picture>
		</div>
		<div>
			<br>
		</div>
		<div>
			<div class="sb-custom">
				<span contenteditable="false">
					<div id="sb-part-10694" class="sb-custom-part-lm7k0ckyne7zf66d89q">
						<div class="balloon">
							<div class="faceicon">
								<!--画像の入れ替えは下記URL変更もしくは左に表示されている画像を選択した後に上部の画像ボタンからも入れ替え可能-->
								<picture>
									<img src="static/2c9f2e41/static/picture/lazy.png" width="90" height="98"
										draggable="false" class="lazyload"
										data-src="uploads/article_photo/photo/2989990/57fce3cd-0f79-46ef-873a-ecb3c650d343.png">
								</picture>
								<!--アイコン名が不要な場合は下記１行を削除してください-->
							</div>
							<div class="balloon-008">
								<b>具体的にはどんな方法なの？</b>
							</div>
						</div>
					</div>
					<style>
						
					</style>
				</span>
			</div>
		</div>
		<div>
			<br>
		</div>
		<div>初心者に愛される理由は、</div>
		<div>
			<strong style="color: rgb(255, 0, 0); background-color: rgba(0, 0, 0, 0);">まるで副業のように単純作業で稼げるところ。</strong>
		</div>
		<div>
			<br>
		</div>
		<div>講師がアナタに</div>
		<div>
			<br>
		</div>
		<div>
			<strong>・</strong>
			<strong style="background-color: initial;">
				<span class="sb-bg-gum-marker"
					style="background: linear-gradient(to right,#ffff00 50%, transparent 50%) 100% 0% / 200% 70% no-repeat; background: -webkit-linear-gradient(left,#ffff00 50%, transparent 50%) 100% 0% / 200% 70% no-repeat;"
					data-color="#ffff00">これから伸びる銘柄(お宝銘柄)</span>
			</strong>
		</div>
		<div>
			<strong>・</strong>
			<strong style="background-color: initial;">
				<span class="sb-bg-gum-marker"
					style="background: linear-gradient(to right,#ffff00 50%, transparent 50%) 100% 0% / 200% 70% no-repeat; background: -webkit-linear-gradient(left,#ffff00 50%, transparent 50%) 100% 0% / 200% 70% no-repeat;"
					data-color="#ffff00">売り買いのタイミング</span>
			</strong>
		</div>
		<div>
			<br>
		</div>
		<div>を直接レクチャーしてくれるので、</div>
		<div>
			<strong style="color: rgb(255, 0, 0);">投資の予備知識やスキルは一切不要！</strong>
		</div>
		<div>
			<br>
		</div>
		<div>1ヶ月目から給料の倍以上を稼ぎ出すことが出来るんです。</div>
		<div>
			<br>
		</div>
		<div>実際にこの手法を試した人たちは...</div>
		<div>
			<br>
		</div>
		<div>
			<div class="sb-custom">
				<span contenteditable="false">
					<div id="sb-part-10988" class="sb-custom-part-lma3hye6nsqctg782ym">
						<!-- ############################################ -->
						<!--
    表示枚数                       6
    画像同士の切替スピード           2秒
    画像の消えるアニメーションスピード 1秒
    ※スピード設定はCSSにあります。
-->
						<!-- ############################################ -->
						<section class="c-img01">
							<!-- 追加は↓↓をコピー/削除は不必要な↓↓を削除 -->
							<div class="c-img01__item">
								<picture>
									<img src="static/2c9f2e41/static/picture/lazy.png" width="570" height="530"
										draggable="false" class="lazyload"
										data-src="uploads/article_photo/photo/2989677/d9433f74-5c6a-47c0-ba22-d8132ec25380.png">
								</picture>
							</div>
							<!-- 追加は↑↑をコピー/削除は不必要な↑↑を削除 -->
							<div class="c-img01__item">
								<img src="static/2c9f2e41/static/picture/lazy.png" height="570" width="570"
									draggable="false" class="lazyload"
									data-src="uploads/article_photo/photo/2989673/b4685e32-170f-45cf-b9cc-587892e31a82.png">
							</div>
						</section>
				
					</div>
					<style>
					
					</style>
				</span>
			</div>
		</div>
		<div style="text-align: right;">
			<span style="color: rgb(187, 187, 187); font-size: 10px;">※ご本人の許可を得て掲載しています。</span>
		</div>
		<div style="text-align: right;">
			<span style="color: rgb(187, 187, 187); font-size: 10px;">※個人の実績であり効果を実証するものではありません。</span>
		</div>
		<div>
			<br>
		</div>
		<div>と、初心者が講師の言う通り取引しただけでこの結果！</div>
		<div>
			<br>
		</div>
		<div>
			<div class="sb-custom">
				<span contenteditable="false">
					<div id="sb-part-10694" class="sb-custom-part-lm7jz6oxsj94pqbltr">
						<div class="balloon">
							<div class="faceicon">
								<!--画像の入れ替えは下記URL変更もしくは左に表示されている画像を選択した後に上部の画像ボタンからも入れ替え可能-->
								<picture>
									<img src="static/2c9f2e41/static/picture/lazy.png" width="90" height="98"
										draggable="false" class="lazyload"
										data-src="uploads/article_photo/photo/2989987/12054e94-5ca6-4ad9-9134-f9cd3f27ded3.png">
								</picture>
								<!--アイコン名が不要な場合は下記１行を削除してください-->
							</div>
							<div class="balloon-008">
								<b>
									講師って、ホントに信用できる人なの？
								</b>
							</div>
						</div>
					</div>
					<style>
					
					</style>
				</span>
			</div>
		</div>
		<div>
			<br>
		</div>
		<div>アナタに5分投資を教えてくれるのは、</div>
		<div>
			<br>
		</div>
		<div>全国に投資スクールを開校している</div>
		<div>
			<strong style="font-size: 19px;">堀江貴文 ホリエモン</strong>
			<span style="font-size: 13px;"></span>
			<span style="font-size: 15px;"></span>
			<span style="font-size: 17px;"></span>
		</div>
		<div style="text-align: center;">
			<picture>
				<img src="static/2c9f2e41/static/picture/700763a9-712d-4ecf-8097-a5aa69737879.png" class="lazyload"
					height="424" width="570"
					data-src="static/2c9f2e41/static/picture/700763a9-712d-4ecf-8097-a5aa69737879.png">
			</picture>
		</div>
		<div>投資歴20年、これまで3,500人以上を指導した名講師！</div>
		<div>
			<br>
		</div>
		<div>堀江貴文（ホリエモン）さんの投資スキルはメディアでも高く評価されています<strong
				style="color: rgb(255, 0, 0); background-color: rgb(255, 255, 0);">全国放送のニュース番組で特集が組まれる</strong>ほど！</div>
		<div>
			<br>
		</div>
		<div>
			<picture>
				<img src="static/2c9f2e41/static/picture/lazy.png" class="lazyload" height="416" width="570"
					data-src="static/2c9f2e41/static/picture/TU.png">
			</picture>
		</div>
		<div>
			<br>
		</div>
		<div>実際に、堀江貴文（ホリエモン）さんの「5分投資」を学んで成果を上げた人もいます</div>
		<div>
			<br>
		</div>
		<div>
			<strong
				style="background-color: rgb(255, 255, 0); color: rgb(255, 0, 0);">年収200万⇒1億円を達成</strong>した人もいるんです！<span
				style="font-size: 13px;">(もちろん投資初心者の方)</span>
		</div>
		<div>
			<br>
		</div>
		<div>
			<picture>
				<img src="static/2c9f2e41/static/picture/lazy.png" class="lazyload" height="345" width="570"
					data-src="uploads/article_photo/photo/2990032/7ee2d706-1612-4d2a-be9d-6caaa8b871c9.png">
			</picture>
		</div>
		<div style="text-align: right;">
			<span style="color: rgb(187, 187, 187); font-size: 10px;">※ご本人の許可を得て掲載しています。</span>
		</div>
		<div style="text-align: right;">
			<span style="color: rgb(187, 187, 187); font-size: 10px;">※個人の成果であり効果を実証するものではありません。</span>
		</div>
		<div>
			<br>
		</div>
		<div>この方も、藤井さんが<span style="color: rgb(255, 0, 0);">無料公開</span>している<strong
				style="background-color: rgba(0, 0, 0, 0);">
				<span class="sb-bg-under-marker"
					style="background: rgba(0, 0, 0, 0) linear-gradient(transparent 80%,#ffff00 0%) repeat scroll 0 0;"
					data-color="#ffff00" data-border-size="80%">「お宝銘柄」</span>
			</strong>、<strong style="background-color: rgba(0, 0, 0, 0);">
				<span class="sb-bg-under-marker"
					style="background: rgba(0, 0, 0, 0) linear-gradient(transparent 80%,#ffff00 0%) repeat scroll 0 0;"
					data-color="#ffff00" data-border-size="80%">「売買のタイミング」</span>
			</strong>をもとに投資しただけ！</div>
		<div>
			<br>
		</div>
		<div>1日5分で終わるから、<strong>普段の生活リズムを維持しながら取引出来てしまう</strong>点も魅力的ですよね。</div>
		<div>
			<br>
		</div>
		<div>
			<div class="sb-custom">
				<span contenteditable="false">
					<div id="sb-part-10694" class="sb-custom-part-lm7jy8u8ktfkmrod2p">
						<div class="balloon">
							<div class="faceicon">
								<!--画像の入れ替えは下記URL変更もしくは左に表示されている画像を選択した後に上部の画像ボタンからも入れ替え可能-->
								<picture>
									<img src="static/2c9f2e41/static/picture/lazy.png" width="90" height="98"
										draggable="false" class="lazyload"
										data-src="uploads/article_photo/photo/2989970/b1fb56ff-a909-4564-b604-55826f21bd1e.png">
								</picture>
								<!--アイコン名が不要な場合は下記１行を削除してください-->
							</div>
							<div class="balloon-008">
								<b>
									そもそも、なんで無料公開なんかしてるの？
								</b>
							</div>
						</div>
					</div>
					<style>
						
					</style>
				</span>
			</div>
		</div>
		<div>
			<br>
		</div>
		<div>もともとはオフラインのスクールで教えていた手法なのですが、メディア出演を皮切りに<span style="color: rgb(255, 0, 0);">問い合わせが殺到！</span>
		</div>
		<div>
			<br>
		</div>
		<div>
			<picture>
				<img src="static/2c9f2e41/static/picture/6336dae9-ba07-43fe-afc1-9ba86fc60eab.jpg" class="lazyload"
					height="270" width="570"
					data-src="static/2c9f2e41/static/picture/6336dae9-ba07-43fe-afc1-9ba86fc60eab.jpg">
			</picture>
		</div>
		<div>
			<br>
		</div>
		<div>
			<span
				style="background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(17, 17, 17);">☝普段のスクールは、お金を払っても</span>
		</div>
		<div>
			<span
				style="background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(17, 17, 17);">なかなか受講できないほどの倍率。</span>
		</div>
		<div>
			<br>
		</div>
		<div>その時、堀江貴文（ホリエモン）さんの<strong>「投資の先生」</strong>としての想いから、<strong
				style="color: rgb(255, 0, 0);">今回の無料公開を決意</strong>
			<span style="color: rgb(0, 0, 0);">した</span>んだそう！
		</div>
		<div style="text-align: center;">
			<picture>
				<img src="static/2c9f2e41/static/picture/617325b7-f62c-4373-a533-869c3f00d34a.png" class="lazyload"
					height="228" width="570"
					data-src="static/2c9f2e41/static/picture/617325b7-f62c-4373-a533-869c3f00d34a.png">
			</picture>
		</div>
		<div>
			<br>
		</div>
		<div>それに、この<strong style="color: rgb(255, 0, 0);">1日5分投資を知る方法もとっても簡単！</strong>
		</div>
		<div>
			<br>
		</div>

		<div>
			<br>
		</div>
		<div>最初に断っておきますが、</div>
		<div>
			<br>
		</div>
		<div>・個人情報(名前/住所/電話番号)の入力</div>
		<div>・悪質な勧誘や営業行為</div>
		<div>・お金の請求</div>
		<div>
			<br>
		</div>
		<div>
			<strong style="color: rgb(255, 0, 0);">これらは一切ありませんので安心して下さい。</strong>
		</div>
		<div>
			<br>
		</div>
		<div>興味があれば、下のボタンをクリックして<strong style="color: rgb(102, 185, 102);">LINE</strong>を追加し、無料で投資方法を受け取ろう！</div>
		<div>
			<br>
		</div>
		<div style="text-align: center;">\ 無料動画の受け取りはこのボタンから！ /</div>
		<div>
			<div class="sb-custom">
				<span contenteditable="false">
					<div id="sb-part-20" class="sb-custom-part-lma4jwq1qmgrqz74de9">
						<span class="buruburu">
							<!--画像変更は下記のsrc内を変更してください。動きの速さはCSSで変えられます-->
							<picture>
								<source type="image/avif"
									data-srcset="uploads/article_photo/photo/2998327/7839a379-d188-483d-b151-5e575490b0a9.avif">
								<a onclick="onLinkBtnClick()">
									<img src="static/2c9f2e41/static/picture/7839a379-d188-483d-b151-5e575490b0a9.png"
										width="570" height="145" draggable="false" class="lazyload"
										data-src="static/2c9f2e41/static/picture/7839a379-d188-483d-b151-5e575490b0a9.png">
								</a>
							</picture>
						</span>
					</div>
					<style>
						
					</style>
				</span>
			</div>
		</div>
		<div>
			<br>
		</div>
		<div>
			<div class="sb-custom">
				<span contenteditable="false">
					<div id="sb-part-2517" class="sb-custom-part-lm8jwxtg799rsrhlia9">
						<div class="fb">
							<h2>コメント</h2>
							<div class="fb_box">
								<div class="fb_icon">
									<picture>
										<img src="static/2c9f2e41/static/picture/lazy.png" width="40" height="40"
											draggable="false" class="lazyload"
											data-src="uploads/article_photo/photo/2991573/7eae0542-a6c2-4a44-937f-e886182cef94.png">
									</picture>
									<noscript>
										<img src="static/2c9f2e41/static/picture/lazy.png" class="lazyload"
											data-src="https://cklmurl.top/7ku/wp/wp-content/uploads/%E5%86%99%E7%9C%9F-3.jpg">
									</noscript>
								</div>
								<div class="fb_right">
									<span class="fb_name">ドットコム</span>
									<span class="fb_com" style="color: #000000;">動画みたけど、すごいクオリティ高いね。
										<br>
										講師の方の解説も上手いし、これなら安心できそう。
									</span>
									<span class="fb_time"></span>
								</div>
							</div>
							<div class="fb_box">
								<div class="fb_icon">
									<picture>
										<img src="static/2c9f2e41/static/picture/lazy.png" width="40" height="40"
											draggable="false" class="lazyload"
											data-src="uploads/article_photo/photo/2991574/61ef8b4c-8e53-4b31-99a3-3909a75365df.png">
									</picture>
									<noscript>
										<img src="static/2c9f2e41/static/picture/lazy.png" class="lazyload"
											data-src="https://cklmurl.top/7ku/wp/wp-content/uploads/%E5%86%99%E7%9C%9F-3.jpg">
									</noscript>
								</div>
								<div class="fb_right">
									<span class="fb_name">same</span>
									<span class="fb_com">
										<span style="color: #000000;">2万円の小額から始めて、現在41万をタッチ。
											<br>
											大きく稼げるのもそうだけど、安定して投資できるのが本当に嬉しい。

										</span>
									</span>
									<span class="fb_time"></span>
								</div>
							</div>
							<div class="fb_box">
								<div class="fb_icon">
									<picture>
										<img src="static/2c9f2e41/static/picture/lazy.png" width="40" height="40"
											draggable="false" class="lazyload"
											data-src="uploads/article_photo/photo/2991575/040f91a4-d467-457a-b539-dee7e56cf982.png">
									</picture>
									<noscript>
										<img src="static/2c9f2e41/static/picture/lazy.png" class="lazyload"
											data-src="https://cklmurl.top/7ku/wp/wp-content/uploads/%E5%86%99%E7%9C%9F-3.jpg">
									</noscript>
								</div>
								<div class="fb_right">
									<span class="fb_name">むちょ</span>
									<span class="fb_com">
										<span style="color: #000000;">投資スクールの噂は聞いていたけど、遠方だったから通えず...
											<br>
											オンラインで無料公開してくれてありがと～～！
											<br>
											お陰で、先月は200万円タッチできました♪
										</span>
									</span>
									<span class="fb_time">

									</span>
								</div>
							</div>
							<div class="fb_box">
								<div class="fb_icon">
									<picture>
										<img src="static/2c9f2e41/static/picture/lazy.png" width="40" height="40"
											draggable="false" class="lazyload"
											data-src="uploads/article_photo/photo/2991576/a651f3a1-32a0-4c18-8f3e-1c94e15dd311.png">
									</picture>
									<noscript>
										<img src="static/2c9f2e41/static/picture/lazy.png" class="lazyload"
											data-src="https://cklmurl.top/7ku/wp/wp-content/uploads/%E5%86%99%E7%9C%9F-3.jpg">
									</noscript>
								</div>
								<div class="fb_right">
									<span class="fb_name">斎藤 二人</span>
									<span class="fb_com" style="color: #000000;">爆上がりする銘柄も売買のタイミングも知れるんだから、
										<br>
										そりゃ稼げるよねｗ会社の昼休みに収支確認するのが日課ですｗ</span>
								</div>
							</div>
							<div class="fb_box">
								<div class="fb_icon">
									<picture>
										<img src="static/2c9f2e41/static/picture/lazy.png" width="40" height="40"
											draggable="false" class="lazyload"
											data-src="uploads/article_photo/photo/2991577/1cc7d341-90bd-44ae-99a0-51d9e8c83075.png">
									</picture>
									<noscript>
										<img src="static/2c9f2e41/static/picture/lazy.png" class="lazyload"
											data-src="https://cklmurl.top/7ku/wp/wp-content/uploads/%E5%86%99%E7%9C%9F-3.jpg">
									</noscript>
								</div>
								<div class="fb_right">
									<span class="fb_name">kamaro</span>
									<span class="fb_com" style="color: #000000;">投資系のスクールって、なんだか抵抗あったんだけど、
										<br>
										公的な認可を受けた講師だったので安心しました。
										<br>
										小額からだけど、はじめてみます！
									</span>
								</div>
							</div>
						</div>
						<p style="text-align: right;">
							<span style="font-size: 12px;">
								<span style="font-size: 10px;" class="sb-fs-free">
									<font color="#bbbbbb">※個人の感想であり効果効能を保証するものではありません。</font>
								</span>
							</span>
						</p>
					</div>
					<style>
					
					</style>
				</span>
			</div>
		</div>
		<div>
			<br>
		</div>
		<div>
			<div class="sb-custom">
				<span contenteditable="false">
					<div id="sb-part-20" class="sb-custom-part-lma4k2nncbzws7pnqe">
						<span class="buruburu">
							<!--画像変更は下記のsrc内を変更してください。動きの速さはCSSで変えられます-->
							<picture>
								<source type="image/avif"
									data-srcset="uploads/article_photo/photo/2998327/7839a379-d188-483d-b151-5e575490b0a9.avif">
								<a onclick="onLinkBtnClick()">
									<img src="static/2c9f2e41/static/picture/7839a379-d188-483d-b151-5e575490b0a9.png"
										width="570" height="145" draggable="false" class="lazyload"
										data-src="static/2c9f2e41/static/picture/7839a379-d188-483d-b151-5e575490b0a9.png">
								</a>
							</picture>
						</span>
					</div>
					<style>
					
					</style>
				</span>
			</div>
		</div>
		<div>
			<br>
		</div>
		<div>
			<br>
		</div>
		<div>
			<br>
		</div>
		<div>
			<br>
		</div>
	</div>
	<a onclick="onLinkBtnClick()" name="offer" id="offer"></a>
	<script src="static/2c9f2e41/static/js/jquery-3.7.1.min.js"></script>

	<style>
		
	</style>

	<div class="Bnr">
		<div class="floating">
			<div class="float_in clearfix">
				<div class="fl_box">
					<a onclick="onLinkBtnClick()"><img src="static/2c9f2e41/static/picture/button.png" height="80"
							alt="無料体験版のお申し込みをする"></a>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function () {
			$(window).on("scroll", function () {
				if ($(this).scrollTop() > 100 && $('#offer').offset().top - $(this).scrollTop() - $(this).height() > 0) {
					$('.floating').fadeIn();
				} else {
					$('.floating').fadeOut();
				}
			});
		});
	</script>

	<script>
		// 以下のJavaScriptはタグに貼り付けずにそのままで動きます。
		// 複数使用でも動くので、移動などしないで下さい。
		// ----------------------------------------- //

		// 管理画面表示用 処理
		if (document.querySelector('body > div#root')) {
			document.querySelector('.c-img01').classList.add('active');
		};
		if (!document.getElementsByTagName('body')[0].classList.contains('ReactModal__Body--open')) {

			// 待機関数
			const wait = (ms) => new Promise((resolve) => setTimeout(resolve, ms));

			// 読み込み後発火
			window.addEventListener('load', async () => {

				function observeFunc(entries) {
					entries.forEach(entry => {
						// 画面内の処理
						if (entry.isIntersecting) {
							entry.target.classList.add('active');
							changeImg('itemCount' + entry.target.dataset.itemCount);

							observer.unobserve(entry.target);
						}
					});
				}
				// 画面内外の監視
				const observer = new IntersectionObserver(observeFunc);

				let itemCount = 0;
				const thisImgElms = document.querySelectorAll('.c-img01');

				for (let i = 0; i < thisImgElms.length; i++) {
					const thisImgElm = thisImgElms[i];
					const className = 'itemCount' + (itemCount + 1);

					if (thisImgElm.classList.contains('active')) {
						return false;
					}

					thisImgElm.classList.add(className);
					thisImgElm.dataset.itemCount = (itemCount + 1);
					itemCount++;

					observer.observe(thisImgElm, className);
				}

				async function changeImg(className) {
					let firstAction = true;
					let imgLoad = false;
					let thisMaxHeight = 0;
					const thisParentElm = document.getElementsByClassName(className)[0];

					const waitTime = parseFloat(getComputedStyle(thisParentElm).animationDuration) * 1000;

					const thisElms = thisParentElm.children
					const lastNum = thisElms.length;
					const changeTime = parseFloat(getComputedStyle(thisElms[0]).transitionDuration);


					thisElms[0].classList.add('is-active')
					await wait(waitTime)

					while (true) {
						if (!firstAction) {
							thisParentElm.querySelector('.showThis').classList.remove('showThis');
							thisParentElm.querySelector('.showNext').classList.remove('showNext');
						}

						firstAction = false;


						thisElms[0].classList.add('showThis');
						thisElms[1].classList.add('showNext');

						const showThisElm = thisParentElm.querySelector('.showThis');
						const showNextElm = thisParentElm.querySelector('.showNext');

						showNextElm.addEventListener('transitionend', () => {
							showThisElm.classList.remove('is-active')
							thisElms[0].parentNode.appendChild(showThisElm)

						}, {
							once: true
						})

						showNextElm.classList.add('is-active')


						imgLoad = thisElms[0].querySelector('img').dataset.llStatus;

						if (imgLoad == 'loaded') {
							if (thisMaxHeight < thisElms[0].querySelector('img').height) {
								thisMaxHeight = thisElms[0].querySelector('img').height;
								thisParentElm.style.height = thisMaxHeight + 'px';
							}
						}

						await wait(waitTime)
					}

				}
			})
		}
	</script>
	<script>
		// 以下のJavaScriptはタグに貼り付けずにそのままで動きます。
		// 複数使用でも動くので、移動などしないで下さい。
		// ----------------------------------------- //

		// 管理画面表示用 処理
		if (document.querySelector('body > div#root')) {
			document.querySelector('.c-img01').classList.add('active');
		};
		if (!document.getElementsByTagName('body')[0].classList.contains('ReactModal__Body--open')) {

			// 待機関数
			const wait = (ms) => new Promise((resolve) => setTimeout(resolve, ms));

			// 読み込み後発火
			window.addEventListener('load', async () => {

				function observeFunc(entries) {
					entries.forEach(entry => {
						// 画面内の処理
						if (entry.isIntersecting) {
							entry.target.classList.add('active');
							changeImg('itemCount' + entry.target.dataset.itemCount);

							observer.unobserve(entry.target);
						}
					});
				}
				// 画面内外の監視
				const observer = new IntersectionObserver(observeFunc);

				let itemCount = 0;
				const thisImgElms = document.querySelectorAll('.c-img01');

				for (let i = 0; i < thisImgElms.length; i++) {
					const thisImgElm = thisImgElms[i];
					const className = 'itemCount' + (itemCount + 1);

					if (thisImgElm.classList.contains('active')) {
						return false;
					}

					thisImgElm.classList.add(className);
					thisImgElm.dataset.itemCount = (itemCount + 1);
					itemCount++;

					observer.observe(thisImgElm, className);
				}

				async function changeImg(className) {
					let firstAction = true;
					let imgLoad = false;
					let thisMaxHeight = 0;
					const thisParentElm = document.getElementsByClassName(className)[0];

					const waitTime = parseFloat(getComputedStyle(thisParentElm).animationDuration) * 1000;

					const thisElms = thisParentElm.children
					const lastNum = thisElms.length;
					const changeTime = parseFloat(getComputedStyle(thisElms[0]).transitionDuration);


					thisElms[0].classList.add('is-active')
					await wait(waitTime)

					while (true) {
						if (!firstAction) {
							thisParentElm.querySelector('.showThis').classList.remove('showThis');
							thisParentElm.querySelector('.showNext').classList.remove('showNext');
						}

						firstAction = false;


						thisElms[0].classList.add('showThis');
						thisElms[1].classList.add('showNext');

						const showThisElm = thisParentElm.querySelector('.showThis');
						const showNextElm = thisParentElm.querySelector('.showNext');

						showNextElm.addEventListener('transitionend', () => {
							showThisElm.classList.remove('is-active')
							thisElms[0].parentNode.appendChild(showThisElm)

						}, {
							once: true
						})

						showNextElm.classList.add('is-active')


						imgLoad = thisElms[0].querySelector('img').dataset.llStatus;

						if (imgLoad == 'loaded') {
							if (thisMaxHeight < thisElms[0].querySelector('img').height) {
								thisMaxHeight = thisElms[0].querySelector('img').height;
								thisParentElm.style.height = thisMaxHeight + 'px';
							}
						}

						await wait(waitTime)
					}

				}
			})
		}
	</script>
	<script>
		const lazyLoadInstance = new LazyLoad({
			elements_selector: '.lazyload',
			callback_loaded: function (element) {
				element.classList.remove('lazyload');
			}
		});
	</script>

</body>

</html>